body {
padding-top: 10px;
padding-bottom: 40px;
font-size:14px;
position: relative;
left: 10px;
}
.sidebar-nav {
padding: 9px 0;
box-shadow:none;
min-height:660px;
_height:660px;
border-radius:0px;
overflow:visiable;
}
.container{margin:0px 10px;}
a{color:#000}
.nav-header{font-size:16px;}
.span9{width:1160px;}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{width:1480px;}
.table th, .table td{padding:8px 4px;}
.form-horizontal .control-label{width:130px;font-weight:bold}
.form-horizontal .controls{margin-left:140px}
.form-project .control-label{width:150px;font-weight:bold}
.form-project .controls{margin-left:200px}
.form-project .control-group{margin-bottom:10px}
.form-project {line-height:10px}

#console{height:400px;background:#000;color:#fff;width:97%;font-size:12px;overflow:scroll;padding:20px;}
.table th, .table td{border:none;}

.fileinput-button {
    overflow: hidden;
    position: relative;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
a:hover,a:focus{color:#000;}
/*
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input,.pagination ul > li > a, .pagination ul > li > span,.btn{border-radius:0px !important;}
*/
.nav li a:hover,.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{background-color:#ff4000;color:#fff;}
.nav-list > li > a,a{box-shadow:none;text-shadow:none;}

span.error {
  color:red;
}

#abc-colorPicker .colorPick-close,#color-colorPicker .colorPick-close{position:absolute;right:0;}
#abc-colorPicker a,#color-colorPicker a,#colorPicker a{border-bottom:1px solid #000;border-left:1px solid #FFF;border-right:1px solid #000;border-top:1px solid #FFF;cursor:pointer;display:block;float:left;height:15px;overflow:hidden;width:15px;}
#abc-colorPicker a:hover,#color-colorPicker a:hover,#colorPicker a:hover{opacity:.5;}
#abc-colorPicker li,#color-colorPicker li,#colorPicker li{display:inline;list-style:none;overflow:hidden;}
#abc-colorPicker ul,#color-colorPicker ul,#colorPicker ul{-moz-transition:all .8s ease-in 1s;-ms-transition:all .8s ease-in 1s;-o-transition:all .8s ease-in 1s;-webkit-transition:all .8s ease-in 1s;float:left;margin:0;overflow:hidden;transition:all .8s ease-in 1s;width:102px;}
#abc-colorPicker,#color-colorPicker,#colorPicker{background:#FFF;border:solid 1px #eee;display:none;padding:5px;width:312px;}
#demo{height:600px;margin:0 auto;width:800px;}
.colorPicker-container a:hover{border-bottom:1px solid #000;border-top:1px solid #000;}
.colorPicker-preview{color:#FFF;display:inline-block;height:30px;line-height:30px;width:60px;}
.colorPicker-title{height:30px;overflow:hidden;}

h3 {
  font-family: '微軟正黑體','新細明體';
  font-size: 22px;
}

.admin-name-div {
  float: left;
  font-weight: bold;
}
.logout-div {
  float: right;
}
.logout-div+div {
  clear: both;
}
.change-password-div {
  margin-bottom: 30px;
}
.change-password-div a:first-child~a, .change-password-div a:first-child~a:hover {
  text-decoration: none;
  color: #c0c0c0;
}
.change-password-div a:first-child~a.active {
  color: #ff0000;
}

li+.nav-header {
  margin-top: 30px !important;
}
.change-password-div a,.fileinput-image~a {
  color: #0000ff;
  text-decoration: underline;
}
.fileinput-image~a {
  position: relative;
  left: 10px;
  top: 20px;
}

.logo-img {
  position: relative;
  left: 20px;
}

.frame-box-div {
  border: 1px solid #ddd;
  margin: 0;
  padding: 20px;
}
.frame-box-div2 {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: 0;
  padding: 20px;
  min-height: 200px;
}
.form-horizontal .control-label {
  text-align: left;
}

#search-form img {
  height: 32px;
}
#search-form>div, #search-form>input {
  margin-right: 10px;
}
#search-form .btn {
  background-color: transparent;
  background-image: none;
  border-color: #ccc;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.top_submenus input[type="checkbox"] {
  width: 15px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.multiselect-container input[type="checkbox"] {
  width: 15px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

button[type="submit"],button[type="button"] {
  width: 80px;
}
.input-mini {
  width: 66px;
}

.radio~.radio {
  padding-left: 50px;
}

.nav-tabs {
  margin: auto;
}
.nav-tabs>li {
  text-align: center;
}
.nav-tabs>li a {
  letter-spacing: 2px;
}
.nav-tabs>li:first-child {
  margin-left: 10px;
}
.nav-tabs>li:first-child~li {
  margin-left: 10px;
}
.nav-tabs>li:first-child, .nav-tabs>li:first-child+li {
  width: 120px;
}
.nav-tabs>li:first-child+li+li, .nav-tabs>li:first-child+li+li+li {
  width: 200px;
}
.nav-tabs>li:first-child+li+li+li~li {
  width: 145px;
}
.nav-tabs>li>a {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  border: 1px solid #ddd;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
}

.caretv{display:inline-block;width:0;height:0;vertical-align:top;border-bottom:6px solid #000;border-right:4px solid transparent;border-left:4px solid transparent;content:"";position:relative;top:7px}
.caret {border-top:6px solid #000}
.table-striped .inline-block {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.table-striped .caret {
  position: relative;
  left: 8px;
  top: 8px;
}

.btn-wide {
  width: 140px !important;
}

.multiselect {
  width: 100% !important;
  min-width: 220px;
}
.btn-group b.caret {
  float: right;
}
.btn-group button {
  background-color: #fff;
  background-image: none;
  border-color: #ccc;
}
.multiselect-container {
  width: 600px;
}
.multiselect-container li {
  float: left;
  width: 200px;
}

.required {
  color: red;
}