<include file="Common:header" />
<body>
<div class="container" style="width:1480px;">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">Main</a> <span class="divider">/</span></li>
				    <li><a href="#">E-Buy Management</a> <span class="divider">/</span></li>
				    <li class="active">E-Buy Management</li>
				    </ul>
				<h3><if condition="$list['id'] neq ''">Edit E-Buy<else/>Add E-Buy</if></h3>	
                  <div class="frame-box-div">
                    <form class="form-horizontal" id="myForm" method="post" action="{:U('save')}" enctype="multipart/form-data">
				    <div class="control-group">
				    <label class="control-label">E-Buy Name: </label>
				    <div class="controls">
				    <input type="text" id="name" name="name" value="{$list.name}" >
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">Description: </label>
				    <div class="controls">
				    <textarea class="input-xxlarge" id="description" name="description" rows="5" cols="30" >{$list.description}</textarea>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">Date: </label>
				    <div class="controls">
				    <input type="text" id="date" name="date" value="{$list.date}" >
				    </div>
				    </div>

				    <input type="hidden" id="id" name="id" value="{$list.id}" />
                    <input type="hidden" id="type" name="type" value="{$type}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn"><if condition="$list['id'] neq ''">Edit<else/>Add</if></button>
				    <if condition="$list['id'] neq ''"><button type="button" class="btn" onclick="window.location.href='{:U('admin',array('type'=>$type,'pid'=>$pid))}';">Cancel</button></if>
				    </div>
				    </div>
				    </form>
                  </div><!--/frame-box-div-->
<if condition="$list['id'] eq ''">
				<h3>E-Buy</h3>	
                <div class="frame-box-div">
                <table class="table table-striped">
	              <thead>
	                <tr>
	                    <th>Name</th>
	                    <th>Date</th>
	                    <th>Actions</th>
	                </tr>
	              </thead>
	              <tbody>
	               <volist name="list" id="vo">
	                <tr <if condition="$current eq $vo['id']">class="warning"</if>>
	                    <td>{$vo.name}</td>
	                    <td>{$vo.date}</td>
	                    <td>
	                    <a href="{:U('admin',array('id'=>$vo['id'],'type'=>$type,'pid'=>$pid))}">Edit</a>&nbsp;｜&nbsp;
                        <a href="javascript:void(0);" onclick="del('{:U('del',array('id'=>$vo['id'],'type'=>$type))}');">Delete</a></td>
	                </tr>
	                </volist>
	              </tbody>
	            </table>

	            <div class="pagination pagination-right">
	              <ul>
	                {$show}
	             </ul>
	            </div>
	            </div><!--/frame-box-div-->
</if>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<link rel="stylesheet" type="text/css" href="__CSS__/datepicker.css">
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/common.js"></script>
<script>
  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }

$(function(){
  $('#date').datepicker({
    format: 'yyyy-mm-dd'
  });
});
</script>
</body>
</html>