<include file="Common:header" />
<body>
<div class="container" style="width:1480px;">
      <div class="row">
        <img class="logo-img" src="{:SITE_PATH}Public/Img/Buy/logo.png" />
      </div>
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">主頁</a> <span class="divider">/</span></li>
				    <li><a href="#">現正出讓業務 頁面管理</a> <span class="divider">/</span></li>
				    <li class="active">項目管理</li>
				    </ul>

				<h3>新增項目</h3>	
                  <div class="frame-box-div">
                    <form class="form-horizontal form-project" id="myForm" method="post" action="{:U('save')}" onsubmit="return check_form();myForm.submit();" enctype="multipart/form-data">
				    <div class="control-group">
				    <label class="control-label">顯示位置<span class="required">*</span>&nbsp;：</label>
				    <div class="controls">
				    <input class="input-small" type="text" id="position" name="position" value="{$list.position}">
                    <label class="control-label" style="float:right"><span class="required">*</span>&nbsp;為必須填上</label>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">顯示：</label>
				    <div class="controls">
				    <input type="checkbox" id="visible" name="visible" value="on" <if condition="$list['visible'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">熱門推介：</label>
				    <div class="controls">
				    <input type="checkbox" id="hot_recomm" name="hot_recomm" value="on" <if condition="$list['hot_recomm'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">荀盤推介：</label>
				    <div class="controls">
				    <input type="checkbox" id="estate_recomm" name="estate_recomm" value="on" <if condition="$list['estate_recomm'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">小本創業：</label>
				    <div class="controls">
				    <input type="checkbox" id="small_business" name="small_business" value="on" <if condition="$list['small_business'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">投資首選：</label>
				    <div class="controls">
				    <input type="checkbox" id="first_choice" name="first_choice" value="on" <if condition="$list['first_choice'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">行業：</label>
				    <div class="controls">
				    <select id="c_field" name="c_field"><volist name="catelist" id="vo"><if condition="$vo['t'] eq '行業'">
				      <option value='{$vo.id}' <if condition="$list['c_field'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    <select id="c_field1" name="c_field1" val="{$list.c_field1}"></select>
				    <select id="c_field2" name="c_field2" val="{$list.c_field2}"></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">項目名稱：</label>
				    <div class="controls">
				    <input type="text" id="title" name="title" value="{$list.title}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">代號名稱：</label>
				    <div class="controls">
				    <input type="text" id="codename" name="codename" value="{$list.codename}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">地區 ：</label>
				    <div class="controls">
				    <select id="c_area" name="c_area"><volist name="catelist" id="vo"><if condition="$vo['t'] eq '地區'">
				      <option value='{$vo.id}' <if condition="$list['c_area'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    <select id="c_area1" name="c_area1" val="{$list.c_area1}"></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label" style="position:relative; top:80px;">業務重點 ：</label>
				    <div class="controls">
				     <textarea id="business_focus" name="business_focus" style="width:700px;height:200px;">{$list.business_focus}</textarea>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">牌照 ：</label>
				    <div class="controls">
				    <select id="c_certificate" name="c_certificate[]" multiple><volist name="catelist" id="vo"><if condition="$vo['t'] eq '牌照'">
				      <option value='{$vo.id}' <if condition="in_array ($vo['id'], $list['c_certificate'])">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">出讓原因 ：</label>
				    <div class="controls">
				    <input type="text" id="reason" name="reason" value="{$list.reason}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">定價 ：</label>
				    <div class="controls">
				    <input type="text" id="price" name="price" value="{$list.price}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">包括存貨/其他 ：</label>
				    <div class="controls">
				    <input type="text" id="store" name="store" value="{$list.store}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">營業額（每月）：</label>
				    <div class="controls">
				    <input type="text" id="turnover" name="turnover" value="{$list.turnover}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">參考利潤（每月）：</label>
				    <div class="controls" style="position:relative; left:-13px">
				    <input type="radio" id="profit_option1" name="profit_option" style="position:relative; left:-10px" value="1" <if condition="$list['profit_option'] neq '2'">checked</if> onclick="$('#profit_text').attr('disabled','disabled');$('#profit_text').val('');$('#profit').removeAttr('disabled');"><input type="text" id="profit" name="profit" value="{$list.profit}" <if condition="$list['profit_option'] eq '2'">disabled</if>><br/><br/>
				    <input type="radio" id="profit_option2" name="profit_option" style="position:relative; left:-10px" value="2" <if condition="$list['profit_option'] eq '2'">checked</if> onclick="$('#profit').attr('disabled','disabled');$('#profit').val('');$('#profit_text').removeAttr('disabled');"><input type="text" id="profit_text" name="profit_text" value="{$list.profit_text}" placeholder="其它字句" <if condition="$list['profit_option'] neq '2'">disabled</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">回本期（月）：</label>
				    <div class="controls">
				    <input type="text" id="recovery_period" name="recovery_period" value="{$list.recovery_period}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">面積（平方呎）：</label>
				    <div class="controls">
				    <input type="text" id="square" name="square" value="{$list.square}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">租金 ：</label>
				    <div class="controls">
				    <input type="text" id="rent" name="rent" value="{$list.rent}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">東主參與程度 ：</label>
				    <div class="controls">
				    <select id="c_participation" name="c_participation"><volist name="catelist" id="vo"><if condition="$vo['t'] eq '東主參與程度'">
				      <option value='{$vo.id}' <if condition="$list['c_participation'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">經營場所類別 ：</label>
				    <div class="controls">
				    <select id="c_location" name="c_location"><volist name="catelist" id="vo"><if condition="$vo['t'] eq '經營場所類別'">
				      <option value='{$vo.id}' <if condition="$list['c_location'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">轉讓形式 ：</label>
				    <div class="controls">
				    <select id="c_transfer" name="c_transfer"><volist name="catelist" id="vo"><if condition="$vo['t'] eq '轉讓形式'">
				      <option value='{$vo.id}' <if condition="$list['c_transfer'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">地鐵沿線 ：</label>
				    <div class="controls">
				    <select id="c_metro" name="c_metro"><volist name="catelist" id="vo"><if condition="$vo['t'] eq '地鐵沿線'">
				      <option value='{$vo.id}' <if condition="$list['c_metro'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">首期 ：</label>
				    <div class="controls">
				    <input type="text" id="downpay" name="downpay" value="{$list.downpay}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">每月供款 ：</label>
				    <div class="controls">
				    <input type="text" id="allowance" name="allowance" value="{$list.allowance}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">供款期數 ：</label>
				    <div class="controls">
				    <input type="text" id="allowance_period" name="allowance_period" value="{$list.allowance_period}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">項目現況 ：</label>
				    <div class="controls">
				    <select id="c_situation" name="c_situation"><volist name="catelist" id="vo"><if condition="$vo['t'] eq '項目現況'">
				      <option value='{$vo.id}' <if condition="$list['c_situation'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">投資金額 ：</label>
				    <div class="controls">
				      <select id="investment" name="investment">
				        <option value="HK$100,000或以下" <if condition="$list['investment'] eq 'HK$100,000或以下'">selected</if>>HK$100,000或以下</option>
				        <option value="HK$100,001-300,000" <if condition="$list['investment'] eq 'HK$100,001-300,000'">selected</if>>HK$100,001-300,000</option>
				        <option value="HK$300,001-500,000" <if condition="$list['investment'] eq 'HK$300,001-500,000'">selected</if>>HK$300,001-500,000</option>
				        <option value="HK$500,001-800,000" <if condition="$list['investment'] eq 'HK$500,001-800,000'">selected</if>>HK$500,001-800,000</option>
				        <option value="HK$800,001-1,500,000" <if condition="$list['investment'] eq 'HK$800,001-1,500,000'">selected</if>>HK$800,001-1,500,000</option>
				        <option value="HK$1,500,001-2,500,000" <if condition="$list['investment'] eq 'HK$1,500,001-2,500,000'">selected</if>>HK$1,500,001-2,500,000</option>
				        <option value="HK$2,500,000以上" <if condition="$list['investment'] eq 'HK$2,500,000以上'">selected</if>>HK$2,500,000以上</option>
				      </select>
				    </div>
				    </div>

				    <input type="hidden" id="id" name="id" value="{$list.id}" />
                    <input type="hidden" id="type" name="type" value="{$type}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn"><if condition="$list['id'] neq ''">更改<else/>新增</if></button>
				    <if condition="$list['id'] neq ''"><button type="button" class="btn" onclick="window.location.href='{:U('admin',array('type'=>$type,'pid'=>$pid))}';">取消</button></if>
				    </div>
				    </div>
				    </form>
                  </div><!--/frame-box-div-->

        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/kindeditor/kindeditor.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/common.js"></script>
<script>
KindEditor.ready(function(K) {
	editor1 = K.create('#business_focus', {
					allowFileManager : true,
					urlType : 'domain'
	});
});

function check_form(){
  return true;
}

  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }

var cate_id=[];
var cate_name=[];
var cate_t=[];
<volist name="catelist" id="vo">
cate_id.push({$vo.id});
cate_name.push('{$vo.name}');
cate_t.push('{$vo.t}');

</volist>
function fill_options(sel,tname){
  sel.html('');
  var i;
  for(i=0;i<cate_id.length;i++) if(cate_t[i]==tname){
    sel.append('<option value="'+cate_id[i]+'">'+cate_name[i]+'</option>');
    if(sel.attr('val')==cate_id[i]){
      sel.find('option[value="'+cate_id[i]+'"]').attr('selected','selected');
    }
  }
}
function retrieve_options(){
  var field=$('#c_field option[value="'+$('#c_field').val()+'"]').text();
  if('飲食業'==field){
    fill_options($('#c_field1'),'菜式');
    fill_options($('#c_field2'),'食店');
  }
  else if('教育業'==field){
    fill_options($('#c_field1'),'持牌狀況');
    fill_options($('#c_field2'),'類別');
  }
  else{
    fill_options($('#c_field1'),field);
    fill_options($('#c_field2'),'');
  }
  var area=$('#c_area option[value="'+$('#c_area').val()+'"]').text();
  fill_options($('#c_area1'),area);
}

$(function(){
  retrieve_options();
  $('#c_field,#c_area').change(function(){
    retrieve_options();
  });
});
</script>

<link href="__CSS__/bootstrap-multiselect.css" type="text/css" rel="stylesheet" />
<script src="__JS__/bootstrap-multiselect.js"></script>
<script>
$(function(){
  $('#c_certificate').multiselect();
});
</script>
</body>
</html>