<include file="Common:header" />
<body>
<div class="container" style="width:1480px;">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">Main</a> <span class="divider">/</span></li>
				    <li><a href="#">Property</a> <span class="divider">/</span></li>
				    <li class="active">Property Management</li>
				    </ul>

				<h3>Property</h3>	
                  <div class="frame-box-div">
                    <form class="form-horizontal form-project" id="myForm" method="post" action="{:U('save')}" onsubmit="return check_form();myForm.submit();" enctype="multipart/form-data">
				    <div class="control-group">
				    <label class="control-label">Property Name: </label>
				    <div class="controls">
				    <input type="text" id="name" name="name" value="{$list.name}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Location: </label>
				    <div class="controls">
				    <select id="country_id" name="country_id" val="{$list.country_id}"><volist name="country_list" id="vo">
				      <option value='{$key}' <if condition="$list['country_id'] eq $key">selected</if>>{$vo.name}</option>
				    </volist></select>
				    <select id="city_id" name="city_id" val="{$list.city_id}"></select>
				    <select id="suburb_id" name="suburb_id" val="{$list.suburb_id}"></select>
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">School Near 1: </label>
				    <div class="controls">
				    <select id="school_near1" name="school_near1">
					  <option value="0" <if condition="$list['school_near1'] eq 0">selected</if>>&lt;Empty&gt;</option>
					  <volist name="school_list" id="vo">
				      <option value='{$key}' <if condition="$list['school_near1'] eq $key">selected</if>>{$vo.name}</option>
				    </volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">School Near 2: </label>
				    <div class="controls">
				    <select id="school_near2" name="school_near2">
					  <option value="0" <if condition="$list['school_near2'] eq 0">selected</if>>&lt;Empty&gt;</option>
					  <volist name="school_list" id="vo">
				      <option value='{$key}' <if condition="$list['school_near2'] eq $key">selected</if>>{$vo.name}</option>
				    </volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">School Near 3: </label>
				    <div class="controls">
				    <select id="school_near3" name="school_near3">
					  <option value="0" <if condition="$list['school_near3'] eq 0">selected</if>>&lt;Empty&gt;</option>
					  <volist name="school_list" id="vo">
				      <option value='{$key}' <if condition="$list['school_near3'] eq $key">selected</if>>{$vo.name}</option>
				    </volist></select>
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Description - environment: </label>
				    <div class="controls">
				     <textarea class="input-xxlarge" id="description_environment" name="description_environment" rows="4" cols="50">{$list.description_environment}</textarea>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">Description - property: </label>
				    <div class="controls">
				     <textarea class="input-xxlarge" id="description_property" name="description_property" rows="4" cols="50">{$list.description_property}</textarea>
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Price range from: </label>
				    <div class="controls">
				    <input type="text" id="price_range_from" name="price_range_from" value="{$list.price_range_from}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">Price range to: </label>
				    <div class="controls">
				    <input type="text" id="price_range_to" name="price_range_to" value="{$list.price_range_to}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Completion date: </label>
				    <div class="controls">
				    <input type="text" id="completion_date" name="completion_date" value="{$list.completion_date}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Info last updated - Date: </label>
				    <div class="controls">
				    <input type="text" id="info_last_updated_date" name="info_last_updated_date" value="{$list.info_last_updated_date}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Document download 1: </label>
				    <div class="controls">
				    <input type="text" id="document_download1" name="document_download1" value="{$list.document_download1}" >
				    </div>
				    </div>
				    <div class=" control-group">
		                <label class="control-label">&nbsp;</label>
		                   <div class="controls fileinput-button">
		                     <span class="fileinput-button"><span>Click here to upload PDF</span><input id="fileupload1" type="file" name="files" class="input" ></span>
		                     <span class=" iconshadow" ><i class="icon-remove" onClick="tool.removeMovie('#time')"></i></span><span id="upload-progress1" class="help-inline"></span>
		                     <br/><span class="help-text"><span class="label label-important">( Maximum size: 50M )</span></span>
		                </div>
		            </div>
				    <div class="control-group">
				    <label class="control-label">Document download 2: </label>
				    <div class="controls">
				    <input type="text" id="document_download2" name="document_download2" value="{$list.document_download2}" >
				    </div>
				    </div>
				    <div class=" control-group">
		                <label class="control-label">&nbsp;</label>
		                   <div class="controls fileinput-button">
		                     <span class="fileinput-button"><span>Click here to upload PDF</span><input id="fileupload2" type="file" name="files" class="input" ></span>
		                     <span class=" iconshadow" ><i class="icon-remove" onClick="tool.removeMovie('#time')"></i></span><span id="upload-progress2" class="help-inline"></span>
		                     <br/><span class="help-text"><span class="label label-important">( Maximum size: 50M )</span></span>
		                </div>
		            </div>
				    <div class="control-group">
				    <label class="control-label">Document download 3: </label>
				    <div class="controls">
				    <input type="text" id="document_download3" name="document_download3" value="{$list.document_download3}" >
				    </div>
				    </div>
				    <div class=" control-group">
		                <label class="control-label">&nbsp;</label>
		                   <div class="controls fileinput-button">
		                     <span class="fileinput-button"><span>Click here to upload PDF</span><input id="fileupload3" type="file" name="files" class="input" ></span>
		                     <span class=" iconshadow" ><i class="icon-remove" onClick="tool.removeMovie('#time')"></i></span><span id="upload-progress3" class="help-inline"></span>
		                     <br/><span class="help-text"><span class="label label-important">( Maximum size: 50M )</span></span>
		                </div>
		            </div>

				    <div class="control-group">
				    <label class="control-label">Google Map: </label>
				    <div class="controls">
				    <input type="text" id="google_map" name="google_map" value="{$list.google_map}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Video URL: </label>
				    <div class="controls">
				    <input type="text" id="video_url" name="video_url" value="{$list.video_url}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Sort order: </label>
				    <div class="controls">
				    <input type="text" id="order" name="order" value="{$list.order}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">Status: </label>
				    <div class="controls">
				    <input type="checkbox" id="status" name="status" <if condition="$list['status'] eq '1'">checked</if>>
				    </div>
				    </div>

				    <input type="hidden" id="id" name="id" value="{$list.id}" />
                    <input type="hidden" id="type" name="type" value="{$type}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn"><if condition="$list['id'] neq ''">Edit<else/>Add</if></button>
				    <if condition="$list['id'] neq ''"><button type="button" class="btn" onclick="window.location.href='{:U('admin',array('type'=>$type,'pid'=>$pid))}';">Cancel</button></if>
				    </div>
				    </div>
				    </form>
                  </div><!--/frame-box-div-->

        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/kindeditor/kindeditor.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/jquery-ui.min.js"></script>
<script src="__JS__/jquery.fileupload.js"></script>
<script src="__JS__/common.js"></script>
<script>
function check_form(){
  return true;
}

  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }

var country_id=[];
var country_name=[];
var city_id=[];
var city_name=[];
var city_pid=[];
var suburb_id=[];
var suburb_name=[];
var suburb_pid=[];
<volist name="country_list" id="vo">
country_id.push({$key});
country_name.push('{$vo.name}');
</volist>
<volist name="city_list" id="vo">
city_id.push({$key});
city_name.push('{$vo.name}');
city_pid.push('{$vo.country_id}');
</volist>
<volist name="suburb_list" id="vo">
suburb_id.push({$key});
suburb_name.push('{$vo.name}');
suburb_pid.push('{$vo.city_id}');
</volist>

function fill_options(sel,pid,t){
  sel.html('');
  var i;
  if(1==t){
    for(i=0;i<city_id.length;i++) if(city_pid[i]==pid){
      sel.append('<option value="'+city_id[i]+'">'+city_name[i]+'</option>');
      if(sel.attr('val')==city_id[i]){
        sel.find('option[value="'+city_id[i]+'"]').attr('selected','selected');
      }
    }
  }
  else{
    for(i=0;i<suburb_id.length;i++) if(suburb_pid[i]==pid){
      sel.append('<option value="'+suburb_id[i]+'">'+suburb_name[i]+'</option>');
      if(sel.attr('val')==suburb_id[i]){
        sel.find('option[value="'+suburb_id[i]+'"]').attr('selected','selected');
      }
    }
  }
}

var tool={
		uploadMovie:function(url,btn,input,msg){
			jQuery(btn).fileupload({
			    url: url,
			    dataType: 'json',
			    done: function (e, data) {
			    	jQuery.each(data.result.files, function (index, file) {
			    		
			        	if(file.error){
			        		alert(file.error);
			        	}else
			        	   jQuery(input).val(file.name);
			        });
			    },
			    progressall: function (e, data) {
			        var progress = parseInt(data.loaded / data.total * 100, 10);
			         $(msg).html('upload:'+progress + '%');
			    }
			}).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
		},
		removeMovie:function(obj){
			jQuery(obj).val("");
		}
};	

$(function(){
  if($('#country_id').attr('val')==''){
    $('#country_id').attr('val',1);
    $('#country_id option[value="1"]').attr('selected','selected');
  }
  fill_options($('#city_id'),$('#country_id').attr('val'),1);
  fill_options($('#suburb_id'),$('#city_id').attr('val'),2);
  $('#city_id').change(function(){
    fill_options($('#suburb_id'),$('#city_id').val(),2);
  });

	var url='__URL__/uploadPdf';
	tool.uploadMovie(url,"#fileupload1",'#document_download1',"#upload-progress1");
	tool.uploadMovie(url,"#fileupload2",'#document_download2',"#upload-progress2");
	tool.uploadMovie(url,"#fileupload3",'#document_download3',"#upload-progress3");
});
</script>
</body>
</html>