<include file="Common:header" />
<body>
<div class="container" style="width:1480px;">
      <div class="row">
        <img class="logo-img" src="{:SITE_PATH}Public/Img/Buy/logo.png" />
      </div>
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">主頁</a> <span class="divider">/</span></li>
				    <li><a href="#">系統管理</a> <span class="divider">/</span></li>
				    <li class="active">修改密碼</li>
				    </ul>
				<h3>修改密碼</h3>	
                  <div class="frame-box-div">
                    <form class="form-horizontal" id="myForm" method="post" action="{:U('changePassword')}" onsubmit="return check_match()" enctype="multipart/form-data">
				    <div class="control-group">
				    <label class="control-label">現在密碼：</label>
				    <div class="controls">
				    <input type="password" id="cpwd" name="cpwd" check="Require" warning="請輸入現在的密碼" value="" >
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">新密碼：</label>
				    <div class="controls">
				    <input type="password" id="pwd" name="pwd" check="Require" warning="請輸入新密碼" value="" >
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">確認新密碼：</label>
				    <div class="controls">
				    <input type="password" id="pwd2" name="pwd2" check="Require" warning="請再次輸入新密碼" value="" >
				    </div>
				    </div>

				    <input type="hidden" id="user" name="user" value="{$user}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn">更改</button>
				    </div>
				    </div>
				    </form>
	              </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/common.js"></script>
<script>
function check_match(){
  if($('#pwd').val()!==$('#pwd2').val()){
    alert('兩次密碼輸入不一致');
    return false;
  }
  return true;
}
</script>
</body>
</html>